#file-input,
input {
	width: 100%;
	height: 44px;
	border-radius: 4px;
	margin: 10px auto;
	font-size: 15px
}

input {
	background: #b0a9a9;
	border: 0;
	padding: 0 15px
}

body {
	background: #DFBE95;
	font-family: sans-serif;
	font-size: 14px;
    color: #777;
    text-align: center;

}



#file-input {
	padding: 0;
	border: 1px solid #ddd;
	line-height: 44px;
	text-align: left;
	display: block;
	cursor: pointer;
}

#bar,
#prgbar {
	background-color: #f1f1f1;
	border-radius: 10px
}

#bar {
	background-color: #FF9B34;
	width: 0%;
	height: 10px
}

form {
	background: #fff;
	max-width: 400px;
	margin: 100px auto;
	padding: 10px;
	border-radius: 5px;
	text-align: center;
}

div {
	background: #fff;
	max-width: 400px;
	margin: 3px auto;
	border-radius: 10px;
    text-align: center;
    display: inline-block;
}

.divonoff {
    width: 400;
}

.w3-btn,
.w3-button {
	border: none;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
}

.w3-btn,
.w3-button {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.w3-disabled,
.w3-btn:disabled,
.w3-button:disabled {
	cursor: not-allowed;
	opacity: 0.3;
}

.w3-disabled *,
:disabled * {
	pointer-events: none;
}

.w3-dropdown-hover:hover>.w3-button:first-child,
.w3-dropdown-click:hover>.w3-button:first-child {
	background-color: #ccc;
	color: #000;
}

.w3-bar-block .w3-dropdown-hover .w3-button,
.w3-bar-block .w3-dropdown-click .w3-button {
	width: 100%;
	text-align: left;
	padding: 8px 16px;
}

.w3-bar .w3-button {
	white-space: normal;
}

.w3-dropdown-hover.w3-mobile,
.w3-dropdown-hover.w3-mobile .w3-btn,
.w3-dropdown-hover.w3-mobile .w3-button,
.w3-dropdown-click.w3-mobile,
.w3-dropdown-click.w3-mobile .w3-btn,
.w3-dropdown-click.w3-mobile .w3-button {
	width: 100%;
}



.w3-button:hover {
	color: #000!important;
	background-color: #ccc!important;
}
.w3-deep-orange,
.w3-hover-deep-orange:hover {
	color: #fff!important;
	background-color: #ff5722!important;
}
.btn {
	background: #3498db;
	color: #fff;
    cursor: pointer;
}
